# Python
__pycache__/
*.pyc
*.pyo
*.pyd
dist/
build/
data/backups/
data/exports/

# PyInstaller
dist/
build/
*.spec

# Базы данных и бэкапы
data/planner.db
data/backups/
data/exports/

# IDE / OS
.vscode/
.idea/
*.swp
Thumbs.db
.DS_Store
